<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>金科支付-登录</title>
    <link th:href="@{/login/css/layout.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/login/css/login.css}" rel="stylesheet" type="text/css" />
    <script type="text/javascript"   th:src="@{/login/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript"   th:src="@{/login/js/js.js}"></script>
</head>
<style>
    .ibar {display: none;}
</style>
<body class="login-bg">
<div class="main ">
    <!--登录-->
    <div class="login-dom login-max">
        <div class="logo text-center">
            <a href="#">
                <img src="/login/images/logo.png" width="180px" height="180px">
            </a>
        </div>
        <div class="login container " id="login">
            <p class="text-big text-center logo-color">
                同一个账号，连接一切
            </p>
            <p class=" text-center margin-small-top logo-color text-small">
                控制台 | 云平台 | 论坛 | 云市场
            </p>
            <form class="login-form" action="login" method="post" autocomplete="off">
                <div class="login-box border text-small" id="box">
                    <div class="name border-bottom">
                        <input type="text" placeholder="手机 / 邮箱 / 某某账号" id="username" name="username" datatype="*" nullmsg="请填写帐号信息">
                    </div>
                    <div class="pwd">
                        <input type="password" placeholder="密码" datatype="*" id="password" name="password" nullmsg="请填写帐号密码">
                    </div>
                </div>
                <input type="hidden" name="formhash" value="5abb5d21"/>
                <input type="submit" class="btn text-center login-btn" value="立即登录">
            </form>
            <div class="forget">
                <a href="repassword.html" class="forget-pwd text-small fl">忘记登录密码？</a><a href="/toRegister" class="forget-new text-small fr" id="forget-new">创建一个新账号</a>
            </div>
        </div>
    </div>

    <div class="footer text-center text-small ie">
        Copyright 2013-2016 金科教育科技有限公司 版权所有 <a href="#" target="_blank">滇ICP备13005806号</a>
        <span class="margin-left margin-right">|</span>
        <script src="#" language="JavaScript"></script>
    </div>
    <div class="popupDom">
        <div class="popup text-default">
        </div>
    </div>
</div>
</body>
</html>